<!DOCTYPE html>
<html>
<head>
    <title>Jira Project Selector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Select a Jira Project</h2>

<select id="project">
    <option value="" selected disabled>--Select a project --</option>
</select>

<h3>Status Colors</h3>
<div id="statusColorControls"></div>

<br><br>
<!--Canvas-->
<div id="chartContainer">
    <canvas id="statusChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- ✅ 确保 main.js 被正确加载 -->
<script src="/static/main.js"></script>

</body>
</html>